* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
line-height: 1.8em;
}

a {
  color: rgb(173, 173, 173);
  text-decoration: none; 
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

.container {
  margin: auto;
  max-width: 1400px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: rgb(82, 209, 177);
}

.lead{
 font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  background: rgb(31, 5, 34);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn-light {
  color: rgb(31, 5, 34);
  background: white;
}


.clr {
  clear: both;
  }

.bg-light {
  background: white;
}
.l-heading {
  padding-top: 20px;
}
#navbar,
.bg-dark {
 background: rgb(31, 5, 34);
 color: #fff;
 overflow: auto;
}

#navbar h1 {
 float: left;
 padding-top: 20px;
}

#navbar ul {
 float: right;
 list-style: none;
}

#navbar ul li {
 float: left; 
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
.btn:hover  {
  cursor: pointer;
  background: rgb(17, 35, 83);
  color: rgb(82, 209, 177);
}

.current {
  background: rgb(17, 35, 83);
  color: rgb(82, 209, 177)
}

#navbar h1:hover {
 cursor: pointer;
}

#bootcamp1 {
  background: url(../img/bootcamp1.jpg) no-repeat center center/cover;
  overflow: auto;
  height: 600px;
  
}

#bootcamp1 .bootcamp1-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
  }

  #bootcamp1 .bootcamp1-content h1 {
    font-size: 60px;
    line-height: 1.2em;
  }

#home-info .info-img {
  background: url(../img/bootcamp2.jpg) no-repeat left center/cover;
  float: left;
  width: 50%;
  height: 600px;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  height: 600px;
  padding: 50px 30px;
  text-align: center;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.8em;
  padding-top: 60px;
}

#home-info .info-content p {
  padding-bottom: 30px;
}

.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}
 #blueish {
  background: rgb(82, 209, 177);
}

.box i {
  margin-top: 10px;
}

#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img {
  display: block center;
  width: 70%;
  padding-top: 50px; 
  padding-bottom: 50px
}

#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
  padding-top: 50px;
}

#container2, #background2 {
  background: rgb(34, 34, 34);
  color: #fff;
}

#testimonials {
  height: 100%;
  background: url(/img/bootcamp6.jpg) no-repeat center/cover;
  padding: 40px;
  font-size: 20px;
}

#testimonials h2 {
  text-align: center;
  color: #fff;
  font-size: 40px;
}
.testimonial {
  background-color: rgb(30, 46, 46);
  color: #fff;
  opacity: 97%;
  padding: 20px;
}

#testimonials .testimonial img {
  width: 7%;
  height: 100%;
  float: left;
  border-radius: 50%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  border: 0.1em rgb(41, 146, 165) solid;
  border-radius: 2%;
  height: 30px;
}
textarea {
  height: 200px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: aqua;
}
.btn {
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 7%;

}
.container, .container p {
text-align: center;
}
/* for the form section contact*/
form {
  max-width: 500px;
  margin: auto;
  border: 0.09em rgb(41, 146, 165) solid; 
  padding: 40px;
}

#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}